table{
    width: 100%;
    border-collapse: collapse;
}

h2{
    display: flex;
    justify-content: center;
}
th, td{
    border: 1px solid black;
    padding: 8px;
}

th{
    background-color: azure;
}

td{
    background-color: rgb(129, 170, 245);
    font-weight: bold;
    color: black;
}